<style>
head{
	
}

body {
    background-color: lightblue;
}
h1 {
    color: blue;
    font-family: courier;
	text-align: center;
}
p  {
    color: blue;
    font-family: courier;
    font-size: 160%;
	text-align: center;
}
</style>